In [1]:
import pandas as pd
import numpy as np
import en_core_web_lg
nlp= en_core_web_lg.load()

In [2]:
data_df = pd.read_csv("Final_Extracted_text_AllPages_5f4212d7-7bb7-45e5-9d74-3c1e26770e55_Final - Final_Extracted_text_AllPages_5f4212d7-7bb7-45e5-9d74-3c1e26770e55_Final.csv")
data_df

                                        Sent_extracted
0                                                   42
1    Sustainability Sua inability Early morning by ...
2                                                   43
3    Sustainabill SUSTAINABLE Sustainable energy fo...
4    Both for rea- sons of cost and for the sake of...
..                                                 ...
628                    Goals, indicators results 16-18
629     Anti-corruption and identified issues 44-45,60
630                       Risks and risk management 60
631                Goals, indicators and results 16-18
632                                     and and Policy

[633 rows x 1 columns]

In [3]:
sentences = list(data_df["Sent_extracted"])
print(data_df.shape)
data_df = data_df[data_df['Sent_extracted'].str.split().str.len().gt(7)]
print(data_df.shape)

(633, 1)
(333, 1)

In [4]:
list1=['PERCENT','QUANTITY']
sentence = [_ for _ in data_df['Sent_extracted']]

quant = []
time=[]
for doc in nlp.pipe(sentence):
  quantity = []
  date1=[]
  for ent in doc.ents:
    if ent.label_ in list1:
      quantity.append(ent)
    if ent.label_ == "DATE":
      date1.append(ent)
  quant.append(quantity)
  time.append(date1)

In [5]:
data_df = data_df.assign(Quantity=quant)
data_df = data_df.assign(Time=time)

In [6]:
data_df

                                        Sent_extracted Quantity           Time
1    Sustainability Sua inability Early morning by ...       []             []
3    Sustainabill SUSTAINABLE Sustainable energy fo...       []             []
4    Both for rea- sons of cost and for the sake of...       []             []
5    Our buildings are connected to the district he...       []             []
6    Where possible; we have also connected our bui...       []             []
..                                                 ...      ...            ...
612  rting Sustainability risks The table below sho...       []             []
613  Sustainability risks refer to risks where our ...       []             []
614  In the section on risk on pages 78-82 we repor...       []             []
615  In step with the changing develop our sustaina...       []             []
626  Human rights Policy and identified issues 44-4...       []  [(44, -, 45)]

[333 rows x 3 columns]

In [8]:
data_df[data_df['Quantity'].str.len()>0]
data_df.Quantity = data_df.Quantity.apply(lambda y: np.nan if len(y)==0 else y)
data_df.Time = data_df.Time.apply(lambda y: np.nan if len(y)==0 else y)

In [9]:
data_df

                                        Sent_extracted Quantity           Time
1    Sustainability Sua inability Early morning by ...      NaN            NaN
3    Sustainabill SUSTAINABLE Sustainable energy fo...      NaN            NaN
4    Both for rea- sons of cost and for the sake of...      NaN            NaN
5    Our buildings are connected to the district he...      NaN            NaN
6    Where possible; we have also connected our bui...      NaN            NaN
..                                                 ...      ...            ...
612  rting Sustainability risks The table below sho...      NaN            NaN
613  Sustainability risks refer to risks where our ...      NaN            NaN
614  In the section on risk on pages 78-82 we repor...      NaN            NaN
615  In step with the changing develop our sustaina...      NaN            NaN
626  Human rights Policy and identified issues 44-4...      NaN  [(44, -, 45)]

[333 rows x 3 columns]

In [14]:
data_df=data_df.dropna(thresh=2)
data_df

,Sent_extracted,Quantity,Time
7,Where it is necessary for uS to purchase elect...,"[(100, %)]",NaN
8,"This work is in line with the target ""Increas...","[(99.9, %)]",[(2020)]
19,While we support all the UN Sustainability Goa...,NaN,"[(8), (11)]"
23,"women and In our organisation, everyone should...","[(40, -, 60, %)]",NaN
31,"In 2020, Gothenburg was ranked sixth in a surv...",NaN,[(2020)]
...,...,...,...
576,Flag Flag Flag during BACH YARD Mobility group...,NaN,[(today)]
587,In the last ten years we have made a de- resul...,NaN,"[(the, last, ten, years)]"
600,In 2019 we conducted an in-depth stakeholder d...,NaN,"[(2019), (2020)]"
608,In 2020 we had no reported cases of discrimina...,NaN,[(2020)]
626,Human rights Policy and identified issues 44-4...,NaN,"[(44, -, 45)]"

In [15]:
data_df.to_excel("testing.xlsx")